<div class="container-fluid">
  <div class="jumbotron">
    <h1>Analysis of Apology by {{apology.name}}</h1>
    <p>{{apology.text}}</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Original Statement</a></p>
  </div>

  <div class="row padding-md">
    {{list-component title="Positive Verbs" list=apology.positiveVerbs}}

    {{list-component title="Negative Verbs" list=apology.negativeVerbs}}
  </div>

  <div class="row padding-md">
    {{list-component title="Keywords" list=apology.keywords}}

    {{list-component title="Adjectives" list=apology.adjectives}}
  </div>

  <div>
    <h1>Word Cloud</h1>
    {{word-cloud text=apology.text}}
  </div>
</div>
