<h1>Analysis</h1>

{{apology.text}}

{{apology.name}}

<h1>Keywords</h1>
<ul>
  {{#each apology.keywords as |keyword|}}
    <li>{{keyword.normal}}</li>
  {{/each}}
</ul>

<h1>Negative Verbs</h1>
<ul>
  {{#each apology.negativeVerbs as |verb|}}
    <li>{{verb.normal}}</li>
  {{/each}}
</ul>

<h1>Positive Verbs</h1>
<ul>
  {{#each apology.positiveVerbs as |verb|}}
    <li>{{verb.normal}}</li>
  {{/each}}
</ul>

<h1>Adjectives</h1>
<ul>
  {{#each apology.adjectives as |adj|}}
    <li>{{adj.normal}}</li>
  {{/each}}
</ul>
